<input type="text" oninput="filterRows(this, 'Brewery')">

<table class="sortable-table" border="1">
  <tr>
    <th></th>
    <th onclick="sortByHeaderElement(this)">Brewery</th>
    <th onclick="sortByHeaderElement(this)">Brew</th>
  </tr>
  <% @beers.each do | beer | %>
  <tr>
    <th><%= radio_button_tag "beer_id", beer.id %></th>
    <td><%= beer.brewery %></td>
    <td><%= beer.brew %></td>
  </tr>
<% end %>
</table>
