<div style="float:left;">
  <h2>Beers in system:</h2>
  <%= form_tag profile_create_tried_path do %>

    <%= render 'system_filterable_form'%>
    <label>Rating:</label>
    <%= text_field_tag 'rating' %><br />
    <%= submit_tag 'Select' %>
  <% end %>
</div>
